<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to my personal website</h1>
        <p class="lead">
            It's long time ( actually not ) that I'm working as a programmer or coder or software developer
            but I never had my own website.
            So, here is my new hobby - my own website - where I'm GOD and can share and modify anything that in my mind. So, brief yourself.
        </p>
    </div>
</div>
<div class="row">
    <!--<div ng-repeat="wordGroup in wordGroups" class="card col-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ wordGroup.name }}</h5>
            <p class="card-text">{{ wordGroup.description }}</p>
            <a href="#" class="card-link">Start Exercises</a>
        </div>
    </div>-->        
    <div class="col-12">
        <articles-list></articles-list>
    </div>
</div>