<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="#">C#</a>
        <a class="p-2 text-muted" href="#">ASP.NET</a>
        <a class="p-2 text-muted" href="#">WPF</a>
        <a class="p-2 text-muted" href="#">Angular</a>
        <a class="p-2 text-muted" href="#">AngularJS</a>
        <a class="p-2 text-muted" href="#">React</a>
        <a class="p-2 text-muted" href="#">MS SQL</a>
        <a class="p-2 text-muted" href="#">Photoshop</a>
    </nav>
</div>