<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Czech</th>
            <th scope="col">English</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="word in words">
            <th scope="row">{{ word.id }}</th>
            <td>{{ word.czech }}</td>
            <td>{{ word.english }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button ng-click="updateWord(word)" type="button" class="btn btn-info">Update</button>
                    <button ng-click="deleteWord(word)" type="button" class="btn btn-danger">Delete</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>